{% extends "base.html" %}
{% block title %}
    {{title}}
{% endblock %}
{% block content %}
  
  <hr>
  <main>
    <h1>{{ group.title }}</h1>
    <p>{{ group.description }}</p>
    {% for post in posts %}
    <div class="card mb-3 mt-1 shadow-sm">
      <div class="card-body">
        <p class="card-text">
            <strong class="d-block text-gray-dark">
              <ul>
              <li>
                Автор: {{ post.author.get_full_name }}
              </li>
              <li>
                Дата публикации: {{ post.pub_date|date:"d M Y" }}
              </li>
            </ul>
            </strong>
          </a>
        </p>
        <article>
        <p>
          {{ post.text|linebreaksbr }}
        </p>
        </article>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            {% if not forloop.last %}<hr>{% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}    
</main>
{% endblock %}